<div class="flexbox margin" *ngIf="!this.isLoading">
  <div *ngFor="let row of [].constructor(3); let i = index">
    <div *ngFor="let column of [].constructor(3); let j = index">
      <div
        class="board margin"
        (click)="boardClick(i, j)"
        [ngClass]="{
          green: game.board[i][j] === getUsername,
          red: game.board[i][j] !== '' && game.board[i][j] !== getUsername
        }"
      ></div>
    </div>
  </div>
  <div>
    <table>
      <tr>
        <th>WINNER</th>
        <th
          [ngClass]="{
            green:
              this.game.turn <= this.game.players.length - 1 &&
              getUsername.toUpperCase() ===
                this.game.players[this.game.turn].username.toUpperCase()
          }"
        >
          {{ getUsername.toUpperCase() }}'S WINS:
        </th>
        <th
          [ngClass]="{
            green:
              this.game.turn <= this.game.players.length - 1 &&
              getOpponentUsername ===
                this.game.players[this.game.turn].username.toUpperCase()
          }"
        >
          {{ this.singleplayer ? "AI'S WINS:" : getOpponentUsernameTable }}
        </th>
      </tr>
      <tr>
        <td>{{ winner }}</td>
        <td>{{ p1Wins }}</td>
        <td>{{ p2Wins }}</td>
      </tr>
    </table>
    <div class="flexbox margin">
      <button
        mat-raised-button
        color="accent"
        (click)="newGame()"
        [disabled]="!isFinished"
      >
        NEW GAME
      </button>
    </div>
  </div>
</div>
